.vaso {
    background-image: url(../../img/stars/vaso.png);
}

.dark {
    background-image: url(../../img/stars/dark.png);
}

.green {
    background-image: url(../../img/stars/green.png);
}

.white {
    background-image: url(../../img/stars/white.png);
}

.baby_yoda {
    background-image: url(../../img/stars/baby_yoda.png);
}

.dark_blade {
    background-image: url(../../img/stars/dark_blade.png);
}